# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Environment variables
*.env

# SQLite database
*.sqlite3
*.db

# Mac and system files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

instance/
